<!-- <p>
    <mat-toolbar color="accent">

        <span>My App </span>
    </mat-toolbar>
</p> -->

 
<!-- app.component.html -->
<mat-toolbar color="accent" class="toolbar">
    <span>My App</span>
    <span class="example-spacer"></span>
    <div class="right-icons">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  
  