textarea, mat-form-field{
    width: 100%;
    margin: auto;
}

button{
    margin: auto;
}

mat-card{
    margin: auto;
}
.file-input button {
    margin-top: 10px; /* Adjust as needed */
   }